# LLM Configuration
LLM_MODEL=llama3
LLM_BASE_URL=http://host.docker.internal:11434/v1
LLM_API_KEY=ollama

# PostgreSQL
POSTGRES_URI=postgresql://genbi:genbi@postgres:5432/genbi

# MongoDB
MONGODB_URI=mongodb://mongodb:27017
MONGODB_DB_NAME=genbi
